<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <%=
    I18n.t :recommendation_email_body, 
           :name => @name,
           :product_url => title_path(@product),
           :product_name => @product.title
    %>
  </body>
</html>